<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware5/shopware/5.3/engine/Shopware/Components/Plugin/schema/config.xsd">
    <elements>
        <element type="combo">
            <name>magediaSelectedCustomerGroup</name>
            <label lang="de">Wählen Sie Kundengruppe aus</label>
            <label>Select customer group</label>
            <description lang="de">Wählen Sie eine Kundengruppe aus, um Rabattinformationen für sie anzuzeigen</description>
            <description lang="en">Select customer group to display discount info for them</description>
            <store>Shopware.apps.Base.store.CustomerGroup</store>
        </element>
    </elements>
</config>