.platinum-customer-header {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background: #e5e4e2;
    font-size: 1.35rem;
    text-align: center;
    padding: 0.25rem;
}

.platinum-customer-cart {
    background: #e5e4e2;
    text-align: center;
    padding: 1.2rem;

    p:last-child {
        margin-bottom: 0;
    }
}

.product--table .row--platinum-customer-cart {
    background: #e5e4e2;

    .table--content {
        font-size: 1.35rem;
    }
}